/* from PX to VW
----------------------------*/
@function get-vw($target) {
    $vw-context: (2560 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
}

@function get-vw1280($target) {
    $vw-context: (1280 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
}

@function get-vh($target) {
    @if $target == auto{
        @return $target
    } @else {
        $vh-context: (1247 * 0.01) * 1px;
        @return ($target / $vh-context) * 1vh;
    }
}

@function get-vh2($target) {
    @if $target == auto{
        @return $target
    } @else {
        $vh-context: (1440 * 0.01) * 1px;
        @return ($target / $vh-context) * 1vh;
    }
}

/* Mixins
-------------------------------------------------------------- */
@mixin rotate($angle) {
    -ms-transform: rotate($angle);
    -webkit-transform: rotate($angle);
    transform: rotate($angle);
}

@mixin home-floating($duration) {
    $randomDuration: $duration + random($duration);
    animation-name: floating;
    animation-duration: $randomDuration + s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-play-state: running;
}

@mixin home-element($width, $top, $right, $bottom, $left, $angle) {
    //@include home-floating(4);
    width: get-vw($width);
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;

    img {
        @include rotate($angle);
    }
}

@mixin product-rotate($angle, $angleX) {
    -ms-transform: rotate($angle) rotateX($angleX);
    -webkit-transform: rotate($angle) rotateX($angleX);
    transform: rotate($angle) rotateX($angleX);
}

@mixin product-element($width, $top, $right, $bottom, $left, $angle, $angleX) {
    //@include home-floating(4);
    width: get-vw($width);
    top: get-vh($top);
    right: $right;
    bottom: get-vh($bottom);
    left: $left;

    img {
        @include product-rotate($angle, $angleX);
    }
}

@mixin opacity($opacity) {
    $opacityIE: $opacity * 100;
    opacity: $opacity;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$opacityIE+")";
    filter: alpha(opacity=$opacityIE);
}

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .inner-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
    }
}


/* Main styles
-------------------------------------------------------------- */

*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

html, body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input, textarea {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body{
    background-color: #ffffff;
}

*, div, html, body{
}

.content{
    width: 960px;
    margin: 0 auto;
}

.home .content{
    width: 940px;
    margin: 0 auto;
}

input:focus{
    outline:none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
}

h1{
    font-size: 30px;
    line-height: 32px;
    color: #6d6e76;
}

h2{
    font-size: 26px;
    line-height: 28px;
    color: #6d6e76;
}

h3{
    font-size: 22px;
    line-height: 26px;
    color: #6d6e76;
}

h4{
    font-size: 20px;
    line-height: 22px;
    color: #6d6e76;
}

h5{
    font-size: 18px;
    line-height: 20px;
    color: #6d6e76;
}

h6{
    font-size: 16px;
    line-height: 18px;
    color: #6d6e76;
}

b, strong{

}

p{

}

a{
    color: #4098d3;
    text-decoration: none;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clear:after,
.clear:before {
    content: '';
    display: table;
}
.clear:after {
    clear: both;
}
.clear {
    zoom: 1;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

.dn{
    display: none;
}

/* Main icon styles
-------------------------------------------------------------- */

.short_line {
    background: transparent url('../images/short_line.png') no-repeat center center;
    width: 32px;
    height: 2px;
    display: inline-block;
}

.short_line_light {
    background: transparent url('../images/short_line_light.png') no-repeat center center;
    width: 32px;
    height: 2px;
    display: inline-block;
}

.long_line {
    background: transparent url('../images/long_line.png') no-repeat center center;
    width: 146px;
    height: 3px;
    display: inline-block;
}

.x_long_line {
    background: transparent url('../images/x_long_line.png') no-repeat center center;
    width: 191px;
    height: 3px;
    display: inline-block;
}

.location_line {
    background: transparent url('../images/location_line.png') no-repeat center center;
    width: 421px;
    height: 3px;
    display: inline-block;
}

/* Main page styles
-------------------------------------------------------------- */

.vision{
    opacity: 1!important;
}

#loader{
    //background: transparent url("../images/bck_fiordisale.png") repeat center center;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10500;

    .loader{
        background: transparent url("../images/loader2.gif") repeat center center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: get-vw(200px);
        height: get-vw(200px);
        background-size: cover;
    }
}

.fixed_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}

.top_menu {
    width: 100%;

    .logo {
        float: left;
        padding-top: 20px;
        padding-left: 20px;
        width: 25%;
        height: 96px;

        a {
            display: inline-block;
            text-decoration: none;
            width: 101px;
            height: 96px;
            opacity: 0;

            img {
                max-width: 100%;
            }
        }
    }

    nav.main_menu {
        float: left;
        display: block;
        width: 50%;
        text-align: center;

        & > div {
            display: inline-block;
            height: 65px;
        }

        ul.menu {
            list-style-type: none;
            margin: 0;
            //padding: 40px 0 0 0;
            padding: 28px 0 0 0;

            & > li {
                float: left;
                margin: 0 25px;
                //margin: 0 10px;
                padding: 0;
                opacity: 0;

                &.wpml-ls-menu-item {
                    position: relative;

                    &:after {
                        background: transparent url('../images/lang_drop.svg') no-repeat center center;
                        position: absolute;
                        right: -12px;
                        top: 11px;
                        width: 8px;
                        height: 4px;
                        display: block;
                        content: " ";
                    }

                    .sub-menu {
                        list-style-type: none;
                        position: absolute;
                        top: 30px;
                        left: 0;
                        z-index: 900;
                        margin: 0;
                        padding: 0 !important;
                        -webkit-transition: all 200ms;
                        -moz-transition: all 200ms;
                        -o-transition: all 200ms;
                        transition: all 200ms;
                        @include opacity(0);

                        li {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    &:hover {
                        .sub-menu {
                            @include opacity(1);
                        }
                    }
                }

                &.menu-item:last-of-type a {
                    border-radius: 30px;
                    width: 136px;
                    //line-height: 46px;
                    background-color: #202020;
                    position: relative;
                    bottom: 11.5px;
                    color: #ffffff;
                    transition: background-color 0.2s linear;
                    display: inline-block;
                    height: 46px;
                    padding: 16px 0 2px 0;

                    span{
                        display: block!important;
                        transition: all .24s cubic-bezier(.215,.61,.355,1);
                        color: #ffffff;

                        &.one{
                            transform: translateY(0);
                        }
                        &.two{
                            transform: translateY(-25%)!important;
                        }
                    }

                    &:hover{
                        .one {
                            transform: translateY(-50%)!important;
                        }
                        .two{
                            transform: translateY(-100%)!important;
                        }
                    }
                }

                a {
                    font-family: "brandon-grotesque", sans-serif;
                    color: #020202;
                    font-size: 10px;
                    line-height: 14px;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: 900;
                    letter-spacing: 0.2px;

                    span{
                        display: block!important;
                        transition: all .24s cubic-bezier(.215,.61,.355,1);
                        color: #020202;
                        font-size: 10px;
                        line-height: 14px;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-weight: 900;
                        letter-spacing: 0.2px;

                        &.one{
                            opacity: 1;
                            transform: translateY(50%);
                        }
                        &.two{
                            opacity: 0;
                        }
                    }

                    &:hover{
                        span{
                            &.one{
                                opacity: 0;
                                transform: translateY(-50%);
                            }

                            &.two{
                                opacity: 1;
                                transform: translateY(-50%);
                                transition: all .24s 65ms cubic-bezier(.215,.61,.355,1);
                            }
                        }
                    }
                }
            }
        }
    }

    .all_products {
        padding-top: 15px;
        float: right;
        width: 25%;
        padding-right: 50px;
        opacity: 0;

        .link {
            display: inline-block;
            float: right;
            cursor: pointer;

            &:hover{

                .icon_holder{
                    transform: rotate(90deg);
                    transition: background-color 0.2s linear, transform .24s 65ms cubic-bezier(.215,.61,.355,1);
                }

                .text span{
                    &.one{
                        opacity: 0;
                        transform: translateY(-50%);
                    }

                    &.two{
                        opacity: 1;
                        transform: translateY(-100%);
                        transition: all .24s 65ms cubic-bezier(.215,.61,.355,1);
                    }
                }
            }

            &:hover{
                .text{
                    //
                }
            }

            .text {
                font-family: "brandon-grotesque", sans-serif;
                float: left;
                padding-right: 13px;
                font-size: 10px;
                line-height: 12px;
                color: #020202;
                font-weight: 900;
                text-transform: uppercase;
                padding-top: 19px;

                span{
                    display: block!important;
                    transition: all .24s cubic-bezier(.215,.61,.355,1);

                    &.one{
                        opacity: 1;
                    }
                    &.two{
                        opacity: 0;
                    }
                }
            }

            .icon_holder {
                display: inline-block;
                float: left;
                width: 46px;
                height: 46px;
                line-height: 42px;
                text-align: center;
                background-color: #000;
                -webkit-border-radius: 23px;
                -moz-border-radius: 23px;
                border-radius: 23px;
                //transition: background-color 0.2s linear;
                transition: background-color 0.2s linear, transform .24s cubic-bezier(.215,.61,.355,1);
                transform: rotate(0deg);

                .icon {
                    background: transparent url('../images/all_products.svg') no-repeat center center;
                    display: inline-block;
                    width: 12px;
                    height: 7px;
                }
            }
        }
    }
}

.close_btn .link {
    display: inline-block;
    float: right;
    cursor: pointer;

    &:hover{

        .icon_holder{
            transform: rotate(90deg);
            transition: background-color 0.2s linear, transform .24s 65ms cubic-bezier(.215,.61,.355,1);
        }

        .text span{
            &.one{
                opacity: 0;
                transform: translateY(-50%);
            }

            &.two{
                opacity: 1;
                transform: translateY(-100%);
                transition: all .24s 65ms cubic-bezier(.215,.61,.355,1);
            }
        }
    }

    &:hover{
        .text{
            //
        }
    }

    .text {
        font-family: "brandon-grotesque", sans-serif;
        float: left;
        padding-right: 13px;
        font-size: 10px;
        line-height: 12px;
        color: #020202;
        font-weight: 900;
        text-transform: uppercase;
        padding-top: 2px;

        span{
            display: block!important;
            transition: all .24s cubic-bezier(.215,.61,.355,1);

            &.one{
                opacity: 1;
            }
            &.two{
                opacity: 0;
            }
        }
    }

    .icon_holder {
        display: inline-block;
        float: left;
        width: 46px;
        height: 46px;
        line-height: 42px;
        text-align: center;
        background-color: #000;
        -webkit-border-radius: 23px;
        -moz-border-radius: 23px;
        border-radius: 23px;
        //transition: background-color 0.2s linear;
        transition: background-color 0.2s linear, transform .24s cubic-bezier(.215,.61,.355,1);
        transform: rotate(0deg);

        .icon_mobile{
            display: none;
        }

        .icon {
            background: transparent url('../images/all_products.svg') no-repeat center center;
            display: inline-block;
            width: 12px;
            height: 7px;
        }
    }
}

.home .top_menu nav.main_menu ul li.menu-item:last-of-type a,
.home .top_menu .all_products .link .icon_holder{
    background: transparent url('../images/bck_fiordisale.png') repeat center center;
    &.fior_di_sale{
        background: transparent url('../images/bck_fiordisale.png') repeat center center!important;
    }
    &.affumicato{
        background: transparent url('../images/dimljen_back.png') repeat center center!important;
    }
    &.carote_zenzero {
        background: transparent url('../images/korencek_back.png') repeat center center!important;
    }
    &.peperoncino {
        background: transparent url('../images/cili_back.png') repeat center center!important;
    }
    &.pesto_basilico {
        background: transparent url('../images/pesto_back.png') repeat center center!important;
    }
    &.mediterraneo {
        background: transparent url('../images/mediteran_back.png') repeat center center!important;
    }
    &.garam_masala {
        background: transparent url('../images/garam_masala_back.png') repeat center center!important;
    }
    &.zenzero_limone {
        background: transparent url('../images/ingver_back.png') repeat center center!important;
    }

}

.full_page_container {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    //padding: 15px;

    .full_page {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

footer {
    //padding: 0 40px 40px 40px;
    z-index: 5000;
    box-sizing: border-box;
    opacity: 0;

    .agro{
        background-image: url('../images/elements_2/agro_biznis.svg');

        height: 140px;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 70px;
        width: 128px;
        background-size: cover;
        left: 20px;
        opacity: 0.5;

        display: none;
    }

    .inovation-of-the-year{
        background-image: url('../images/svg/tisk_inovacijaleta.svg');

        height: 140px;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 70px;
        width: 148px;
        background-size: cover;
        left: 195px;
        opacity: 0.5;

        display: none;
    }

    .footer_box {
        float: left;
        border: 1px solid rgba(#000000, 0.25)!important;
        font-family: "futura-pt", sans-serif;
        color: #020202;
        font-size: 9px;
        text-transform: uppercase;
        font-weight: 900;

        .box_item {
            float: left;
            font-family: "futura-pt", sans-serif;
            color: rgba(#000000, 0.25);
            font-size: 9px;
            text-transform: uppercase;
            font-weight: 900;
            line-height: 13px;
            //padding: 15px 22px;
            border-right: 1px solid rgba(#000000, 0.25)!important;
            letter-spacing: 0.5px;
            position: relative;
            overflow: hidden;

            .cls-1{
                fill: #757575;
                opacity: 1;
            }

            &.last {
                border-right: 0 none !important;
            }

            &::after{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(#000000, 0.25);
                transition: -webkit-transform .4s cubic-bezier(.23,1,.32,1);
                transition: transform .4s cubic-bezier(.23,1,.32,1);
                -webkit-transform: translateX(-20px) scaleX(0) skewX(-65deg);
                -ms-transform: translateX(-20px) scaleX(0) skewX(-65deg);
                transform: translateX(-20px) scaleX(0) skewX(-65deg);
                -webkit-transform-origin: left center;
                -ms-transform-origin: left center;
                transform-origin: left center;
                z-index: 9;
            }

            &:not(.copyright):hover{
                &::after{
                    -webkit-transform: translateX(0) scaleX(1) skewX(0deg);
                    -ms-transform: translateX(0) scaleX(1) skewX(0deg);
                    transform: translateX(0) scaleX(1) skewX(0deg);
                }
                
                a{
                    color: #fff!important;
                }

                path{
                    fill: #fff!important;
                }
            }

            a {
                text-decoration: none;
                color: rgba(#000000, 0.25);
                position: relative;
                z-index: 999;
                transition: color .4s cubic-bezier(.23,1,.32,1);
                padding: 15px 22px;

                &.foot_instagram{
                    padding: 15px 18px;
                }
            }

            &.copyright{
                padding: 15px 22px;
            }

            path{
                transition: fill .4s cubic-bezier(.23,1,.32,1);
            }

            .foot_facebook, .foot_instagram {
                float: left;
                display: inline-block;
                //width: 48px;
                height: 43px;
                //height: 42px;
            }

            .foot_facebook {
                text-align: center;
            }

            .foot_instagram {
            }
        }

        .designed_box_item {
            //background: transparent url('../images/akeo_logo.svg') no-repeat center right;
            float: left;
            display: block;
            font-family: "futura-pt", sans-serif;
            color: rgba(#000000, 0.25);
            font-size: 9px;
            text-transform: uppercase;
            font-weight: 900;
            line-height: 13px;
            padding: 15px 63px 15px 22px;
            position: relative;
            border-right: 0!important;
            overflow: hidden;
            z-index: 999;
            transition: color .4s cubic-bezier(.23,1,.32,1);

            &::after{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(#000000, 0.25);
                transition: -webkit-transform .4s cubic-bezier(.23,1,.32,1);
                transition: transform .4s cubic-bezier(.23,1,.32,1);
                -webkit-transform: translateX(-20px) scaleX(0) skewX(-65deg);
                -ms-transform: translateX(-20px) scaleX(0) skewX(-65deg);
                transform: translateX(-20px) scaleX(0) skewX(-65deg);
                -webkit-transform-origin: left center;
                -ms-transform-origin: left center;
                transform-origin: left center;
                z-index: -1;
            }

            &:not(.copyright):hover{
                &::after{
                    -webkit-transform: translateX(0) scaleX(1) skewX(0deg);
                    -ms-transform: translateX(0) scaleX(1) skewX(0deg);
                    transform: translateX(0) scaleX(1) skewX(0deg);
                }
            }

            &:hover {
                text-decoration: none;
                color: #fff!important;

                .cls-1{
                    fill: #fff!important;
                }
            }

            svg{
                position: absolute;
                top: 14px;
                right: calc(17px + 1%);
                z-index: 999;

                .cls-1{
                    fill: rgba(#000000, 0.25);
                    opacity: 1;
                    transition: fill .4s cubic-bezier(.23,1,.32,1);
                }
            }
        }
    }

    .left_part {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .right_part {
        position: absolute;
        //right: 20px;
        right: 0;
        bottom: 0;

        .footer_box .box_item a {
            display: inline-block;
            //text-decoration: none;
            //color: #757575;
            position: relative;
            z-index: 999;
        }
    }
}

.footer_holder.fior_di_sale footer {
    .footer_box {
        border: 1px solid #349E9D;

        .box_item,
        .designed_box_item {
            border-right: 1px solid #349E9D;
            color: #335C60;

            a,
            div{
                color: #335C60;
            }

            .cls-1{
                fill: #335C60;
            }
        }
    }
}

.footer_holder.single_product {
    position: fixed;
    width: 100%;
    bottom: 115px;
    //z-index: 9999;
    z-index: 999;

    footer {
        bottom: -128px !important;
    }
}

.footer_holder.affumicato footer {
    .footer_box {
        border: 1px solid #562914;

        .box_item,
        .designed_box_item {
            border-right: 1px solid #562914;
            color: #31180A;

            a,
            div{
                color: #31180A;
            }

            .cls-1{
                fill: #31180A;
            }
        }
    }
}

.footer_holder.carote_zenzero footer {
    .footer_box {
        border: 1px solid #C47C12;

        .box_item,
        .designed_box_item {
            border-right: 1px solid #C47C12;
            color: #82520E;

            a,
            div{
                color: #82520E;
            }

            .cls-1{
                fill: #82520E;
            }
        }
    }
}

.footer_holder.peperoncino footer {
    .footer_box {
        border: 1px solid #800E11;

        .box_item,
        .designed_box_item {
            border-right: 1px solid #800E11;
            color: #62080B;

            a,
            div{
                color: #62080B;
            }

            .cls-1{
                fill: #62080B;
            }
        }
    }
}

.footer_holder.pesto_basilico footer {
    .footer_box {
        border: 1px solid #507531;

        .box_item,
        .designed_box_item {
            border-right: 1px solid #507531;
            color: #20350E;

            a,
            div{
                color: #20350E;
            }

            .cls-1{
                fill: #20350E;
            }
        }
    }
}

.footer_holder.mediterraneo footer {
    .footer_box {
        border: 1px solid #168C8A;

        .box_item,
        .designed_box_item {
            border-right: 1px solid #168C8A;
            color: #054544;

            a,
            div{
                color: #054544;
            }

            .cls-1{
                fill: #054544;
            }
        }
    }
}

.footer_holder.garam_masala footer {
    .footer_box {
        border: 1px solid #A2622B;

        .box_item,
        .designed_box_item {
            border-right: 1px solid #A2622B;
            color: #6A3A10;

            a,
            div{
                color: #6A3A10;
            }

            .cls-1{
                fill: #6A3A10;
            }
        }
    }
}

.footer_holder.zenzero_limone footer {
    .footer_box {
        border: 1px solid #9C9D23;

        .box_item,
        .designed_box_item {
            border-right: 1px solid #9C9D23;
            color: #606109;

            a,
            div{
                color: #606109;
            }

            .cls-1{
                fill: #606109;
            }
        }
    }
}

.footer_holder.tamari footer {
    .footer_box {
        border: 1px solid #8d8977;

        .box_item {
            border-right: 1px solid #8d8977;
        }
    }
}

.fixed_footer footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    //z-index: 10;
    z-index: 401;
}

@keyframes floating {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
    }
    25% {
        transform: translate3d(5px, 0px, 0);
        animation-timing-function: linear;
    }
    50% {
        transform: translate3d(7px, 5px, 0px);
        animation-timing-function: linear;
    }
    75% {
        transform: translate3d(3px, 4px, 0px);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(0px, 3px, 0px);
        animation-timing-function: linear;
    }
}

//.single_dots_overlay_left,
//.single_dots_overlay_right {
//    background: transparent url('../images/home_dots.svg') repeat center center;
//    position: absolute;
//    z-index: 400;
//    top: 0;
//    left: 5px;
//    right: 0;
//    bottom: 0;
//    pointer-events: none;
//    background-position: 37px 26px;
//}
//
//.faq{
//    h1{
//        font-family: liebedorisregular, sans-serif;
//        font-weight: 400;
//        font-size: 32px;
//        line-height: 32px;
//        text-align: center;
//    }
//
//    div.text{
//        font-family: "brandon-grotesque", sans-serif;
//        font-size: 15px;
//        line-height: 26px;
//        font-weight:400;
//        color: #1e1e1e;
//        text-align: center;
//    }
//}

body.page-template-faq{
    position: relative;
}

.faq{
    min-height: 100vh;

    .full_height_row{
        min-height: 101vh;
    }

    .scroll_down_text{
        position: absolute;
        width: 87%;
        text-align: center;
        top: 90vh;
        font-family: liebedorisregular, sans-serif;
        font-weight: 400;
        color: #030303;
        font-size: 22px;
        line-height: 24px;
        cursor: pointer;
    }

    .title_btn{
        background: transparent url("../images/send.svg") no-repeat right center;
        width: 50px;
        height: 50px;
        transform: rotate(90deg);
        //cursor: pointer;
        margin: 0 auto;
    }

    .title_btn_wrap{
        position: absolute;
        width: 87%;
        top: 83vh;
        opacity: 0;
    }





    .ilustrations{
        &>div{
            position: absolute;
        }

        .el_1{
            width: get-vw(50px);
            top: 186px;
            left: 14.8vw;

            img{
                transform: rotate(-55deg);
                max-width: 100%;
            }
        }

        .el_2{
            width: get-vw(133px);
            top: 820px;
            left: 10vw;

            img.el1{
                max-width: 42%;
                position: absolute;
                bottom: -47px;
                right: 65px;
                transform: rotate(165deg);
            }

            img.el2{
                position: absolute;
                max-width: 14%;
                top: -26px;
                left: -56px;
                transform: rotate(-55deg);
            }
        }

        .el_3{
            right: 10vw;
            bottom: 280px;
            width: get-vw(22px);

            img.el1{
                max-width: 100%;
                position: absolute;
                bottom: -3px;
                left: 22px;
            }
            img.el2{
                max-width: 100%;
                position: absolute;
                top: -55px;
                right: -24px;
            }
            img.el3{
                max-width: 100%;
                position: absolute;
                top: -45px;
                right: -59px;
            }
        }

        .el_4{
            width: get-vw(71px);
            bottom: 322px;
            left: 16.6vw;

            img{
                max-width: 100%;
            }
        }

        .el_5{
            width: get-vw(98px);
            right: 13.9vw;
            top: 206px;

            img{
                max-width: 100%;
            }
        }

        .el_6{
            width: get-vw(50px);
            right: 17.3vw;
            top: 648px;

            img{
                max-width: 100%;
            }
        }

    }

    .row.fixed-padding{
        padding-bottom: 100px;
    }

    .menu_holder{
        padding: 12px;
    }

    .top_menu .logo{
        padding-top: 18px;
        padding-left: 18px;
    }
    .top_menu .all_products{
        padding-top: 16px;
        padding-right: 18px;
    }

    h1{
        font-family: liebedorisregular, sans-serif;
        font-weight: 400;
        font-size: 140px;
        line-height: 110px;
        color: #030303;
        text-align: center;
        padding-top: 37vh;
        letter-spacing: 6px;
        padding-bottom: 21px;
    }

    div.text{
        font-family: liebedorisregular, sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 22px;
        color: #020202;
        text-align: center;
        padding-bottom: 157px;
    }

    div.title{
        font-family: liebedorisregular, sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        text-align: left;
        padding: 0 0 0 80px;
    }
    div.text_description{
        font-family: "brandon-grotesque", sans-serif;
        font-size: 15px;
        line-height: 26px;
        font-weight:400;
        color: #1e1e1e;
        text-align: left;
        padding: 19px 80px 57px;
    }
}

.footer_holder.single_product.faq{
    bottom: 147px !important;
    position: absolute!important;

    .right_part{
        right:29px;

        .box_item, .designed_box_item{
            color: #757575;

            a{
                color: #757575;
            }

            .cls-1{
                fill: #757575;
            }
        }
    }
    .left_part{
        left:9px;

        .box_item{
            color: #757575;

            .cls-1{
                fill: #757575;
            }
        }
    }
}

@media (max-width: 1700px){
    .faq .ilustrations .el_6{
        right: 5.3vw;
    }
    .faq .ilustrations .el_4{
        left: 8.6vw;
    }
}

@media (max-width: 1440px){
    .fixed_footer footer{
        width: calc(100%);
    }
}

body{
    overflow: hidden;

    &.page-template-conditions{
        position: relative;
    }
}

@media (max-width: 990px){
    body{
        overflow: visible;
    }

    .conditions-content,
    .conditions-title{
        padding-right: 20px;
        padding-left:20px;
    }

    .conditions-title{
        font-size: 24px;
        line-height: 26px;
    }

    .conditions-content{
        p{
            font-size: 15px;
            line-height: 24px;
            padding-bottom: 26px;
        }
    }
}

.conditions-title{
    font-family: "brandon-grotesque", sans-serif;
    font-size: 28px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 47px;
    margin: 0 auto;
    max-width: 835px;
    padding-top: 180px;
}

.conditions-content{
    padding-bottom: 70px;

    p{
        font-family: "brandon-grotesque", sans-serif;
        font-weight: 400;
        color: #1e1e1e;
        font-size: 16px;
        line-height: 28px;
        margin: 0 auto;
        max-width: 835px;
        letter-spacing: -0.029px;
        padding-bottom: 30px;
    }
}

.footer_holder.single_product.conditions {
    position: absolute!important;
    bottom: 10px!important;

    footer{
        bottom: 0!important;
    }
}